1_Introduction/M101J/target/
1_Introduction/M101J/pom.xml.tag
1_Introduction/M101J/pom.xml.releaseBackup
1_Introduction/M101J/pom.xml.versionsBackup
1_Introduction/M101J/pom.xml.next
2_CRUD/M101J/target/
2_CRUD/M101J/pom.xml.tag
2_CRUD/M101J/pom.xml.releaseBackup
2_CRUD/M101J/pom.xml.versionsBackup
2_CRUD/M101J/pom.xml.next
2_CRUD/.idea/
1_Introduction/.idea/
create_blog_authors/.idea/
create_blog_authors/create_blog_authors/target/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
